@{
    Layout = null;
    Page.Title = "钱包地址";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WalletAddress</title>
</head>
<body>
    <div>
        123
    </div>
</body>
</html>
