@{
    ViewBag.Title = "我的佣金";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="index" class="core_main Tle">
    <div class="core_title">
        <span class="core_title_con"><span>当前位置</span>：资产管理&gt;&gt;我的佣金</span>
    </div>
    <div class="core_con">
        <table class="tablebg">
            <tbody>
                <tr class="datafield">
                    <th style="border-right: 1px solid #cdcdcd; font-size: 12px; border-bottom: 1px #cdcdcd solid">计算日期</th>
                    <th style="border-right: 1px solid #cdcdcd; font-size: 12px; border-bottom: 1px #cdcdcd solid">收入</th>
                    <th style="border-right: 1px solid #cdcdcd; font-size: 12px; border-bottom: 1px #cdcdcd solid">累计业绩</th>
                    <th style="border-right: 1px solid #cdcdcd; font-size: 12px; border-bottom: 1px #cdcdcd solid">交易佣金</th>
                    <th style="border-right: 1px solid #cdcdcd; font-size: 12px; border-bottom: 1px #cdcdcd solid">推荐佣金</th>
                    <th style="border-right: 1px solid #cdcdcd; font-size: 12px; border-bottom: 1px #cdcdcd solid">组织佣金</th>
                    <th style="border-right: 1px solid #cdcdcd; font-size: 12px; border-bottom: 1px #cdcdcd solid">管理佣金</th>
                    <th style="border-right: 1px solid #cdcdcd; font-size: 12px; border-bottom: 1px #cdcdcd solid">扣除复投基金</th>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="core_page">
        <span>共0条记录 1/1页 &nbsp;</span>
        <span>首页&nbsp;&nbsp;</span>        <a href="/index.php?s=%2FUser%2FTle%2Findex%2Fargs%2Ftle&amp;args=tle&amp;p=0">上一页</a>&nbsp;&nbsp;
                        1&nbsp;&nbsp;
                        <a href="/index.php?s=%2FUser%2FTle%2Findex%2Fargs%2Ftle&amp;args=tle&amp;p=2">下一页</a>&nbsp;&nbsp;
        <span>尾页</span>
    </div>

</div>
</div>
