@{
    ViewBag.Title = "GT";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="index" class="core_main Fun_bank">
    <div class="core_title">
        <span class="core_title_con"><span>当前位置</span>：资产管理&gt;&gt;GT账户                                <span><a class="btn-danger" data-toggle="modal" href="/User/GD2Log">我的GD2</a></span>
            <span><a class="btn-danger" data-toggle="modal" href="/User/GTturn">GT转BT</a></span>    </span>
    </div>

    <div class="core_con">
        <table class="tablebg">
            <tbody>
                <tr style="font-size: 12px;" class="datafield">
                    <th style="border-left: 1px #cdcdcd solid; border-bottom: 1px #cdcdcd solid">时间</th>
                    <th style="border-left: 1px #cdcdcd solid; border-bottom: 1px #cdcdcd solid">来源</th>
                    <th style="border-left: 1px #cdcdcd solid; border-bottom: 1px #cdcdcd solid">金额</th>
                    <th style="border-left: 1px #cdcdcd solid; border-bottom: 1px #cdcdcd solid">余额</th>
                    <th style="border-left: 1px #cdcdcd solid; border-bottom: 1px #cdcdcd solid">类型</th>
                    <th style="border-left: 1px #cdcdcd solid; border-bottom: 1px #cdcdcd solid">备注</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="core_page">
        <span>共0条记录 1/1页 &nbsp;</span>
        <span>首页&nbsp;&nbsp;</span>    <a href="/index.php?s=%2FUser%2FFun_bank%2Findex%2Fargs%2Ffun_bank%5B4%5D&amp;args=fun_bank%5B4%5D&amp;p=0">上一页</a>&nbsp;&nbsp;
            1&nbsp;&nbsp;
            <a href="/index.php?s=%2FUser%2FFun_bank%2Findex%2Fargs%2Ffun_bank%5B4%5D&amp;args=fun_bank%5B4%5D&amp;p=2">下一页</a>&nbsp;&nbsp;
    <span>尾页</span>
    </div>
</div>
